@model Accomplishment
<!-- ======================= Main Work Area ================================-->

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <a class="text-secondary" asp-action="MyAccomplishments"><h1 class="h2">My Accomplishments</h1></a>
    </div>

    <!-- ================== Form ======================-->

    <h2> Detailed View</h2><br>
    <div class="container">
        <h4 class="text-center">@Model.AchievementType</h4><br>
        <div class="row">

            <div class="ml-5 pb-0 mb-0" style="width:90%;">

                @if (Model.Provider != null)
                {
                    <div class="form-group">
                        <label for="school">School/Provider: </label>
                        <input type="text" readonly class="form-control" value="@Model.Provider">
                    </div>
                }

                @if (Model.JobTitle != null)
                {
                    <div class="form-group">
                        <label for="activity">Activity: </label>
                        <input type="text" readonly class="form-control" value="@Model.JobTitle">
                    </div>

                }

                @if (Model.BookTitle != null)
                {
                    <div class="form-group">
                        <label for="activity">Activity: </label>
                        <input type="text" readonly class="form-control" value="@Model.BookTitle">
                    </div>

                }

                @if (Model.Author != null)
                {
                    <div class="form-group">
                        <label for="activity">Author: </label>
                        <input type="text" readonly class="form-control" value="@Model.Author">
                    </div>

                }


                @if (Model.Activity != null)
                {
                    <div class="form-group">
                        <label for="activity">Activity: </label>
                        <input type="text" readonly class="form-control" value="@Model.Activity">
                    </div>
                }

                @if (Model.Description != null)
                {
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea class="form-control" readonly rows="5">@Model.Description</textarea>
                        <p class="float-right"><i>400 character limit</i></p>
                    </div>
                }

                @if (Model.DateStarted != null)
                {
                    <label>Start Date: </label>
                    <div class=" input-group date" data-date-format="mm-dd-yyyy">
                        <input class="form-control" readonly type="text"  value ="@Model.DateStarted.ToLongDateString()" />
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                }

                @if (Model.DateCompleted != null)
                {
                    <label>End Date: </label>
                    <div class=" input-group date" data-date-format="mm-dd-yyyy">
                        <input class="form-control" readonly type="text" value = "@Model.DateCompleted.ToLongDateString()" />
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                }

                @if (Model.URL != null)
                {
                    <div class="form-group">
                        <label for="url">URL: </label>
                        <input type="text" readonly class="form-control" value="@Model.URL">
                    </div>
                }

                @if (Model.ContactPerson != null)
                {
                    <div class="form-group">
                        <label for="contact">Contact Person: </label>
                        <input type="text" readonly class="form-control" value="@Model.ContactPerson">
                    </div>
                }

                @if (Model.ContactPhone != null)
                {
                    <div class="form-group">
                        <label for="contactPhone">Contact Phone: </label>
                        <input type="text" class="form-control" name="contactPhone" readonly id="contactPhone" value="@Model.ContactPhone">
                    </div>
                }

                @if (Model.ContactEmail != null)
                {
                    <div class="form-group">
                        <label for="contactEmail">Contact Email: </label>
                        <input type="text" readonly class="form-control" value="@Model.ContactEmail">
                    </div>
                }

                <br>

                <br>
            </div>

        </div><br>
    </div>
</main>