@model Accomplishment
<!-- ======================= Main Work Area ================================-->

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom border-info">
        <a class="text-secondary" asp-action="Approvals"><h1 class="h2">Approvals</h1></a>
    </div>

    <!-- ================== Form ======================-->

    <h2 class="text-center"> @Model.User.Fname @Model.User.Lname</h2><hr/>
    <div class="container pb-3">
        <h4 class="text-center">@Model.AchievementType Accomplishment</h4><br>
        <div class="row pb-0 mb-0 pt-3 border rounded">

            <form class="ml-5 pb-0 mb-0" asp-action="ApprovalView">

                @if (Model.Provider != null)
                {
                    <div class="form-group">
                        <label for="school">School/Provider: </label>
                        <input type="text" readonly class="form-control" asp-for="Provider">
                    </div>
                }

                @if (Model.JobTitle != null)
                {
                    <div class="form-group">
                        <label for="activity">Activity: </label>
                        <input type="text" readonly class="form-control" asp-for="JobTitle">
                    </div>

                }

                @if (Model.BookTitle != null)
                {
                    <div class="form-group">
                        <label for="activity">Activity: </label>
                        <input type="text" readonly class="form-control" asp-for="BookTitle">
                    </div>

                }

                @if (Model.Author != null)
                {
                    <div class="form-group">
                        <label for="activity">Activity: </label>
                        <input type="text" readonly class="form-control" asp-for="JobTitle">
                    </div>

                }


                @if (Model.Activity != null)
                {
                    <div class="form-group">
                        <label for="activity">Activity: </label>
                        <input type="text" readonly class="form-control" asp-for="Activity">
                    </div>
                }

                @if (Model.Description != null)
                {
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea class="form-control" readonly rows="5" asp-for="Description"></textarea>
                        <p class="float-right"><i>400 character limit</i></p>
                    </div>
                }

                @if (Model.DateStarted != null)
                {
                    <label>Start Date: </label>
                    <div class=" input-group date" data-date-format="mm-dd-yyyy">
                        <input class="form-control" readonly type="text" asp-for="DateStarted" />
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                }

                @if (Model.DateCompleted != null)
                {
                    <label>End Date: </label>
                    <div class=" input-group date" data-date-format="mm-dd-yyyy">
                        <input class="form-control" readonly type="text" asp-for="DateCompleted" />
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                }

                @if (Model.URL != null)
                {
                    <div class="form-group">
                        <label for="url">URL: </label>
                        <input type="text" readonly class="form-control" asp-for="URL">
                    </div>
                }

                @if (Model.ContactPerson != null)
                {
                    <div class="form-group">
                        <label for="contact">Contact Person: </label>
                        <input type="text" readonly class="form-control" asp-for="ContactPerson">
                    </div>
                }

                @if (Model.ContactPhone != null)
                {
                    <div class="form-group">
                        <label for="contactPhone">Contact Phone: </label>
                        <input type="text" class="form-control" name="contactPhone" readonly id="contactPhone" value="555-555-5555">
                    </div>
                }

                @if (Model.ContactEmail != null)
                {
                    <div class="form-group">
                        <label for="contactEmail">Contact Email: </label>
                        <input type="text" readonly class="form-control" asp-for="ContactEmail">
                    </div>
                }

                <br>

                <br>
            </form>

        </div><br>

              <div class="col-lg-3 border px-5 rounded mb-5 ml-1 mt-0 pt-2 pl-0 pb-3 bg-light">
                  <h6 class="text-center"> Actions </h6><hr />
                  <a class="btn mb-3 border text-light" id="approve" style="width:200px;background-color:#89c8a8" asp-action="Approve" asp-route-id="@Model.AchievementID">Approve Submission</a>
                  <a class="btn border text-light " id="deny" asp-action="Deny" style="width:200px;background-color:#c66764" asp-route-id="@Model.AchievementID">Deny Submission</a>
              </div>
                


            </div>
    </div>
</main>